<Layouts.app flash={@flash}>
  <div class="flex justify-center">
    <div class="px-4 m-4">
      <.header>
        <.link navigate={~p"/simulations"}>
          <.icon name="hero-arrow-left" />
        </.link>
        {@simulation.type}
        <:subtitle>Real-time simulation execution</:subtitle>
      </.header>
    </div>
  </div>

  <div class="flex justify-center">
    <canvas
      id="simulation-canvas"
      class="block border-4 border-red-300"
      width="500"
      height="500"
      data-simulation-id={@simulation.id}
    >
    </canvas>
  </div>
</Layouts.app>
