<div id="contenedor" class="flex justify-center">
  <div id={"id"<>Integer.to_string(@randomid)} />        
  <canvas 
    class="block flex justify-center border-4 border-red-300"
    id="miCanvas" 
    width="500" 
    height="500" 
    phx-update="ignore" data-puntos={Jason.encode!(@positions)}>
  </canvas>
</div>