<Layouts.app flash={@flash}>
  <div class="grid grid-cols-2  ">
    <div>
      <.header> 
        Listing Simulations
        <:actions>
          <.button href={~p"/simulations/new"}>
            <.icon name="hero-plus" /> New Simulation
          </.button>
        </:actions>
      </.header>
    
      <.table id="simulations" rows={@simulations} row_click={&JS.navigate(~p"/simulations/#{&1}")}>
        <:col :let={simulation} label="Type">{simulation.type}</:col>
        <:col :let={simulation} label="Algorithm">{simulation.algorithm}</:col>
        <:col :let={simulation} label="Swarm">{simulation.swarm}</:col>
        <:action :let={simulation}>
          <.link navigate={~p"/execution_live/#{simulation}"}>Start</.link>
          <div class="sr-only">
            <.link navigate={~p"/simulations/#{simulation}"}>Show</.link>
          </div>
          <.link navigate={~p"/simulations/#{simulation}/edit"}>edit</.link>
          <.link href={~p"/simulations/#{simulation}"} method="delete" data-confirm="Are you sure?">
            Delete
          </.link>
        </:action>
      </.table>
    </div>
    <div class="px-7">
      <.header>
        New Simulation`
        <:subtitle>Use this form to manage simulation records in your database.</:subtitle>
      </.header>
      <.simulation_form changeset={@changeset} action={~p"/simulations"} return_to={~p"/simulations"} />
    </div>
  </div>
</Layouts.app>
