<Layouts.app flash={@flash}>
  <.header>
    Simulation {@simulation.id}
    <:subtitle>This is a simulation record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/simulations"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/simulations/#{@simulation}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit simulation
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Type">{@simulation.type}</:item>
    <:item title="Algorithm">{@simulation.algorithm}</:item>
    <:item title="Swarm">{@simulation.swarm}</:item>
  </.list>
</Layouts.app>
