<.form :let={f} for={@changeset} action={@action} class="">
  <div class="">
    <.input field={f[:type]} type="text" label="Type" />
  </div>
  <div class="">
    <.input field={f[:algorithm]} type="text" label="Algorithm" />
  </div>
  <div class="">
    <.input field={f[:swarm]} type="number" label="Swarm" />
  </div>
  <footer>
    <.button variant="primary">Save Simulation</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
